<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><a routerLink="/Juegos" >Menú de Juegos</a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="Juego('Adivina')">Adivina el numero</a>
      <a mat-list-item (click)="Juego('Agilidad')">Agilidad</a>
      <a mat-list-item (click)="Juego('AdivinaMasListado')">Adivina+listado</a>
      <a mat-list-item (click)="Juego('AgilidadaMasListado')">Agilidad+listado</a>
      <a mat-list-item (click)="Juego('Anagrama')">Anagrama</a>
      <a mat-list-item (click)="Juego('Piedra-papel-tijera')">Piedra-papel-tijera</a>
      <a mat-list-item (click)="Juego('TaTeTi')">TaTeTi</a>
      <a mat-list-item (click)="Juego('Memotest')">Memotest</a>
      <a mat-list-item (click)="Juego('Sudoku')">Sudoku</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a class="navbar-brand" routerLink="/Principal" data-toggle="tooltip" title="Volver al inicio">Sala de Juegos</a></span>
    </mat-toolbar>
    
    <!-- Add Content Here -->    
    <ul class="nav navbar-nav" style="float: right;">
      <li><a href="/QuienSoy"><span class="glyphicon glyphicon-user"></span> Mis Datos</a></li>
      <li><a href="/Login"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
    </ul>

  </mat-sidenav-content>
</mat-sidenav-container>
