mat-grid-tile {
    /*min-width: 40px;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(253, 253, 253);
    background-position: 50% 50%;
  }



.container{
    background: rgb(108, 124, 192);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 3%;
}

    
.itemMenu{
    background-color: rgb(253, 253, 253,0.95);
    padding: 13%;
    margin: auto;
    height: 100%;
    width: 100%;
}

a {
    text-align: center;
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}

h2,h4,p{
    position: static;
    top: 40%;
    left: 50%;
    text-align: center;
}

h4, h2{
    font-size: x-large;
    letter-spacing: 2px;
}


