mat-grid-tile {
    /*min-width: 40px;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(253, 253, 253);
    background-position: 50% 50%;
  }


.container{
    background: rgb(206, 185, 245);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

    
.itemMenu{
    background-color: rgb(253, 253, 253,0.9);
    padding: 100px;
    margin: auto;
    height: 100%;
    width: 100%;
}

a {
    text-align: center;
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}

h2,h4,p{
    position: static;
    top: 50%;
    left: 50%;
    text-align: center;
}


