<div class="containerJuego" >
  <mat-card class="card">
    <mat-card-header>
      <!--div mat-card-avatar class="header-image"></div-->
      <mat-card-title>Velocidad y agilidad aritmética</mat-card-title>
      <mat-card-subtitle>Juego de agilidad mental</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image src="./assets/imagenes/cerebro.jpg" alt="Cerebro">
    <mat-card-content>
      <p>
        Descripcion del juego
      </p>
      <p>UTN FRA </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button"  (click)="Juego('Agilidad')" >Jugar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <!--div mat-card-avatar class="header-image"></div-->
      <mat-card-title>Piedra Papel o Tijera</mat-card-title>
      <mat-card-subtitle>Juega contra la máquina</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image src="./assets/imagenes/ppt.jpg" alt="Cerebro">
    <mat-card-content>
      <p>
        Elige piedra, papel o tijera para vencer al contrincante
      </p>
      <p>UTN FRA </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button"  (click)="Juego('PPT')" >Jugar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <!--div mat-card-avatar class="header-image"></div-->
      <mat-card-title>Adivina el número secreto</mat-card-title>
      <mat-card-subtitle>Juego de estrategia</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image src="./assets/imagenes/adivina.png" alt="Cerebro">
    <mat-card-content>
      <p>
        Descripcion del juego
      </p>
      <p>UTN FRA </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button"  (click)="Juego('Adivina')" >Jugar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <!--div mat-card-avatar class="header-image"></div-->
      <mat-card-title>Anagrama</mat-card-title>
      <mat-card-subtitle>Juego de estrategia</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image src="./assets/imagenes/Anagrama.png" alt="Letra">
    <mat-card-content>
      <p>
        Crea una palabra a partir de la reordenación de las letras de otra palabra
      </p>
      <p>UTN FRA </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button"  (click)="Juego('Anagrama')" >Jugar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <!--div mat-card-avatar class="header-image"></div-->
      <mat-card-title>TaTeTi</mat-card-title>
      <mat-card-subtitle>Juego de estrategia</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image src="./assets/imagenes/tateti.png" alt="Cerebro">
    <mat-card-content>
      <p>
        Marca los espacios en el tablero
      </p>
      <p>UTN FRA </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button"  (click)="Juego('TaTeTi')" >Jugar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <!--div mat-card-avatar class="header-image"></div-->
      <mat-card-title>Memotest</mat-card-title>
      <mat-card-subtitle>Juego de memoria</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image src="./assets/imagenes/memotest.PNG" alt="Cerebro">
    <mat-card-content>
      <p>
        Encuentra los pares
      </p>
      <p>UTN FRA </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button"  (click)="Juego('Memotest')" >Jugar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <!--div mat-card-avatar class="header-image"></div-->
      <mat-card-title>Sudoku</mat-card-title>
      <mat-card-subtitle>Juego de estrategia</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image src="./assets/imagenes/sudoku.PNG" alt="Cerebro">
    <mat-card-content>
      <p>
        Completa la grilla sin repetir el numero por fila, columna y sección
      </p>
      <p>UTN FRA </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button"  (click)="Juego('Sudoku')" >Jugar</button>
    </mat-card-actions>
  </mat-card>




</div>