<div class="containerJuego" >
    <div style="text-align:center">
        <h1>
            Memotest
        </h1>
    </div>
    <div class="containerInicio centrarItem" >
        <!--Juego-->
        <div class="grilla centrarItem">
        <mat-grid-list cols="4" rowHeight="4:4">
            <mat-grid-tile
                *ngFor="let tile of tiles"
                [colspan]="tile.cols"
                [rowspan]="tile.rows"
                >
                <button *ngIf="tile.mostrar" class="celda" 
                    [disabled]="true" 
                    [style.background-image]="tile.img"></button>
                <button *ngIf="!tile.mostrar" class="celda opcion" 
                    [disabled]="!habilitarOpciones" 
                    (click)="elegir(tile.numero)"></button>
            </mat-grid-tile>
        </mat-grid-list>
        </div>

        <!--Resultado-->
        <div *ngIf="mensaje!=undefined" class="centro">
            <label >{{mensaje}}</label>
        </div> 

        <button class="centrarItem" style="left: 25%;" mat-raised-button (click)="nuevoJuego()">Nueva partida</button>
    </div>

</div>
