<div class="containerJuego" >

  <div style="text-align:center">
    <h1>
      Adivina el número
    </h1>
  </div>

  <!--Comenzar-->
  <div class="centro containerInicio" *ngIf="nuevoJuego == null">
    <button mat-raised-button class="comenzarBtn" (click)="generarnumero()">Comenzar</button>
  </div>

  <!--Juego-->
  <div class="centro">
  <form *ngIf="nuevoJuego != null" name="juego">

    <label>Número secreto: </label><label *ngIf="!nuevoJuego.Resultado"> ?</label><label *ngIf="nuevoJuego.Resultado">{{nuevoJuego.numeroSecreto}}</label><br>
    <label>Ingresa un número entre 1 y 100: </label><br><input class="centrarItem" [(ngModel)]="nuevoJuego.numeroIngresado" name="numeroIngresado" type="text" onclick="document.execCommand('selectall',null,false);"/><br>
    <button mat-raised-button *ngIf="!nuevoJuego.Resultado" (click)="verificar()" class="centrarItem">Verificar</button>
    
    <!--Resultado-->
    <div *ngIf="nuevoJuego.Resultado">
      <label>Ganaste!!!</label><br>
      <label>Intentos:</label><label>{{contador}}</label><br>

    </div>  

    <button mat-raised-button class="centrarItem" *ngIf="nuevoJuego.Resultado" (click)="generarnumero()">Nuevo número secreto</button>


  </form>





    <div id="snackbar">{{Mensajes}}</div>

  </div>
</div>