<div class="containerJuego" >

  <div style="text-align:center">
    <h1>
      {{nuevoJuego.nombre}}
    </h1>
  </div>

  <!--Comenzar-->
  <div class="centro containerInicio" *ngIf="nuevoJuego.numeroSecreto==0">
    <button mat-raised-button class="comenzarBtn" (click)="generarnumero()">Comenzar</button>
  </div>

  <!--Juego-->
  <div class="centro">
  <form *ngIf="nuevoJuego.numeroSecreto!=0" name="juego">

    <label>Número secreto: </label><label *ngIf="!nuevoJuego.gano"> ?</label><label *ngIf="nuevoJuego.gano">{{nuevoJuego.numeroSecreto}}</label><br>
    <label>Ingresa un número entre 1 y 100: </label><input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text"/><br>
    <button mat-raised-button *ngIf="!nuevoJuego.gano" (click)="verificar()" class="centrarItem">Verificar</button>
    
    <!--Resultado-->
    <div *ngIf="nuevoJuego.gano">
      <label>Ganaste!!!</label><br>
      <label>Intentos:</label><label>{{contador}}</label><br>

    </div>  

    <button mat-raised-button class="centrarItem" *ngIf="nuevoJuego.gano" (click)="generarnumero()">Nuevo número secreto</button>


  </form>





    <div id="snackbar">{{Mensajes}}</div>

  </div>
</div>