<div class="containerJuego" >
  <div style="text-align:center">
    <h1>
      Agilidad aritmetica
    </h1>
  </div>

  <!--Comenzar-->
  <div class="centro containerInicio" *ngIf="nuevoJuego==undefined">
    <button mat-raised-button class="comenzarBtn" (click)="NuevoJuego()">Comenzar</button>
  </div>

    <!--Juego-->
  <div class="centro">
  <form name="juego" *ngIf="nuevoJuego!=undefined" class="centro">

    <label>{{nuevoJuego.operando1}}</label><label>{{nuevoJuego.operador}}</label><label>{{nuevoJuego.operando2}}</label>
    <label>=</label><input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" />
         
    <br><button mat-raised-button (click)="verificar()" *ngIf="!ocultarVerificar">Verificar {{Tiempo}} </button><br>


  
    <!--Resultado-->
    <div *ngIf="mensajePrincipal!=undefined" class="centro" style="flex-direction: column;">
      <label >{{mensajePrincipal}}</label>
      <p>{{mensajeSecundario}}</p>
    </div> 


    <!--Nuevo juego-->
    <button mat-raised-button *ngIf="nuevoJuego.gano || Tiempo==0" (click)="NuevoJuego()">Nueva operacion</button>

    
  </form>
  </div>
</div>