<div class="containerJuego" >
  <div style="text-align:center">
    <h1>
      Agilidad aritmetica
    </h1>
  </div>

  <!--Comenzar-->
  <div class="centro containerInicio" *ngIf="nuevoJuego==undefined">
    <button mat-raised-button class="comenzarBtn" (click)="NuevoJuego()">Comenzar</button>
  </div>

    <!--Juego-->
  <div class="centro">
  <form name="juego" *ngIf="nuevoJuego!=undefined">

    <label>{{nuevoJuego.operando1}}</label><label>{{nuevoJuego.operador}}</label><label>{{nuevoJuego.operando2}}</label>
    <label>=</label><input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" />
         
    <button mat-raised-button (click)="verificar()" class="centrarItem" *ngIf="!ocultarVerificar">Verificar {{Tiempo}} </button>


    <h2><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>
    

    <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
    
    <!--Resultado-->
    <div *ngIf="nuevoJuego.gano">
      <label>Ganaste!!!</label><br>
      <label>Tiempo:</label><label>{{this.Tiempo}}</label><br>

    </div>  

    <button mat-raised-button class="centrarItem" *ngIf="nuevoJuego.gano" (click)="NuevoJuego()">Nueva operacion</button>

    
  </form>
  </div>
</div>